<% if reuse_preview.present? %>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      We can reuse your previous partnership:
      <strong><%= reuse_preview.lead_provider.name %></strong> with
      <strong><%= reuse_preview.delivery_partner.name %></strong>.
      If you choose “Yes”, we’ll create a partnership for the current contract period using this pairing.
    </p>
  </div>
<% else %>
  <p class="govuk-body">
    <%= lead_provider.name %> will confirm if they’ll be working with your school
    and which delivery partner will deliver training events.
  </p>
<% end %>
