<%= govuk_details(summary_text: 'What are the roles of an appropriate body, lead provider and delivery partner?') do %>
  <p class="govuk-body">
    An appropriate body is responsible for assuring the quality of the statutory induction of ECTs.
  </p>
  <p class="govuk-body">
    For provider-led training, the lead provider provides the online learning platform used for training ECTs and mentors, while the delivery partner delivers training events.
  </p>
  <p class="govuk-body">
    These roles are sometimes undertaken by the same organisation, for example an appropriate body might be the same organisation as the delivery partner.
  </p>
  <p class="govuk-body">
    For school-led training your school will still work with an appropriate body to quality assure the induction process. You might choose to design your own training programme or use materials created by different lead providers.
  </p>
<% end %>
