<% page_data(
  title: "#{@mentor.full_name} has been registered before",
  backlink_href: @wizard.previous_step_path,
) %>

<%= govuk_summary_card(title: "Previously registered details") do |card|
  card.with_summary_list(
    actions: false,
    rows: [
      {
        key:   { text: "School name" },
        value: { text: @mentor.latest_registration_choice.school&.name || "Not confirmed" },
      },
      {
        key:   { text: "Lead provider" },
        value: { text: (@mentor.previous_training_period&.lead_provider_name || "Not confirmed") },
      },
      *(
        @mentor.previous_provider_led? ? [
          {
            key:   { text: "Delivery partner" },
            value: { text: (@mentor.previous_training_period&.delivery_partner_name || "Not confirmed") },
          }
        ] : []
      )
    ],
  )
end %>

<p class="govuk-body">You’ll be able to tell us what kind of training they’ll continue with later.</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>
  <%= f.govuk_submit "Continue" %>
<% end %>
